<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two Containers Example</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .container-fluid {
            height: 100%;
        }
        .red-container, .green-container {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: bold;
            color: white;
        }
        .red-container {
            background-color: rgb(78, 136, 143);
        }

       
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Red Container -->
            <div class=" col-12 col-lg-6 col-md-12 red-container">
                <h1>Welcome to INVENTORY VISTA</h1>
            </div>
            <!-- Green Container -->
            <div class=" col-12 col-lg-6 col-md-12 green-container">
                <img src="/images/logo-transparent-png.png" alt="logo" height="150" width="100%">
                <form action="/auth/google" method="GET">
                    <button class="btn btn-primary w-75 py-2" type="submit">Login with Google</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies (optional, for components like dropdowns) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
